<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBa_q2NsSsGIbJ193M9R-u_iMR_UwBy7zU</string>
	<key>GCM_SENDER_ID</key>
	<string>896144153617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transfer2024</string>
	<key>PROJECT_ID</key>
	<string>transfer-2024-81cf3</string>
	<key>STORAGE_BUCKET</key>
	<string>transfer-2024-81cf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896144153617:ios:348c12ac7667b8861ce5b0</string>
</dict>
</plist>